*{
  box-sizing: border-box;

}
.App {
  text-align: center;
  margin: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}  


div.d-block.w-35.carousel.slide.carousel-fade::before{
  display: flex;
  justify-content: space-around;

}
div.d-block.w-35.carousel.slide.carousel-fade{
  width: 400px;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  margin-top: 20px;



}
div.d-flex.w-30{
  align-items: center !important;
  justify-content: center;
  background-color:whitesmoke
}
a.carousel-control-prev{
  width:20%;
  opacity: 0.9;

}
a.carousel-control-next{
  width:20%;
  opacity: 0.9;
}

.picturesUpload{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

}
.picturesUpload > img{
  width: 200px;
  margin: 15px;
}

